{% extends 'schools/base.html' %}

{% block body %}


        <div ID="homep" class="content";style="padding-left:16px">
          <h2>Schools in Dhaka</h2>
            <hr style="color: white">
            <br>
            <table id="list">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Syllabus & Medium</th>
                    <th>Established</th>
                    <th>Level</th>
                    <th>Admission Period</th>
                    <th>Last Year Result(number of G.P.A 5s)</th>
                </tr>

                {% for s in all_schools %}

                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.location }}</td>
                        <td>{{ s.syllabus_and_medium }}</td>
                        <td>{{ s.established }}</td>
                        <td>{{ s.level }}</td>
                        <td>{{ s.admission_period }}</td>
                        <td>{{ s.last_year_result }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <div ID="Farmgate" class="content";style="padding-left:16px">
      <h2>Primary Schools in Farmgate</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s1 in in_farmgate %}

                    <tr>
                        <td>{{ s1.id }}</td>
                        <td>{{ s1.name }}</td>
                        <td>{{ s1.location }}</td>
                        <td>{{ s1.syllabus_and_medium }}</td>
                        <td>{{ s1.established }}</td>
                        <td>{{ s1.level }}</td>
                        <td>{{ s1.admission_period }}</td>
                        <td>{{ s1.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Mohammadpur" class="content";style="padding-left:16px">
      <h2>Primary Schools in Mohammadpur</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s2 in in_mdpur %}

                    <tr>
                        <td>{{ s2.id }}</td>
                        <td>{{ s2.name }}</td>
                        <td>{{ s2.location }}</td>
                        <td>{{ s2.syllabus_and_medium }}</td>
                        <td>{{ s2.established }}</td>
                        <td>{{ s2.level }}</td>
                        <td>{{ s2.admission_period }}</td>
                        <td>{{ s2.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Dhanmondi" class="content";style="padding-left:16px">
      <h2>Primary Schools in Dhanmondi</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s3 in in_dhanmondi %}

                    <tr>
                        <td>{{ s3.id }}</td>
                        <td>{{ s3.name }}</td>
                        <td>{{ s3.location }}</td>
                        <td>{{ s3.syllabus_and_medium }}</td>
                        <td>{{ s3.established }}</td>
                        <td>{{ s3.level }}</td>
                        <td>{{ s3.admission_period }}</td>
                        <td>{{ s3.last_year_result }}</td>
                    </tr>
            {% endfor %}


        </table>
    </div>

    <div ID="Gulshan" class="content";style="padding-left:16px">
      <h2>Primary Schools in Gulshan</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s4 in in_gulshan %}

                    <tr>
                        <td>{{ s4.id }}</td>
                        <td>{{ s4.name }}</td>
                        <td>{{ s4.location }}</td>
                        <td>{{ s4.syllabus_and_medium }}</td>
                        <td>{{ s4.established }}</td>
                        <td>{{ s4.level }}</td>
                        <td>{{ s4.admission_period }}</td>
                        <td>{{ s4.last_year_result }}</td>
                    </tr>
            {% endfor %}


        </table>
    </div>

    <div ID="Bonani" class="content";style="padding-left:16px">
      <h2>Primary Schools in Bonani</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s5 in in_bonani %}

                    <tr>
                        <td>{{ s5.id }}</td>
                        <td>{{ s5.name }}</td>
                        <td>{{ s5.location }}</td>
                        <td>{{ s5.syllabus_and_medium }}</td>
                        <td>{{ s5.established }}</td>
                        <td>{{ s5.level }}</td>
                        <td>{{ s5.admission_period }}</td>
                        <td>{{ s5.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Motijheel" class="content";style="padding-left:16px">
      <h2>Primary Schools in Motijheel</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s6 in in_motjhl %}

                    <tr>
                        <td>{{ s6.id }}</td>
                        <td>{{ s6.name }}</td>
                        <td>{{ s6.location }}</td>
                        <td>{{ s6.syllabus_and_medium }}</td>
                        <td>{{ s6.established }}</td>
                        <td>{{ s6.level }}</td>
                        <td>{{ s6.admission_period }}</td>
                        <td>{{ s6.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Wari" class="content";style="padding-left:16px">
      <h2>Primary Schools in Wari</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s7 in in_wari %}

                    <tr>
                        <td>{{ s7.id }}</td>
                        <td>{{ s7.name }}</td>
                        <td>{{ s7.location }}</td>
                        <td>{{ s7.syllabus_and_medium }}</td>
                        <td>{{ s7.established }}</td>
                        <td>{{ s7.level }}</td>
                        <td>{{ s7.admission_period }}</td>
                        <td>{{ s7.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Mirpur" class="content";style="padding-left:16px">
      <h2>Primary Schools in Mirpur</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s8 in in_mirpur%}

                    <tr>
                        <td>{{ s8.id }}</td>
                        <td>{{ s8.name }}</td>
                        <td>{{ s8.location }}</td>
                        <td>{{ s8.syllabus_and_medium }}</td>
                        <td>{{ s8.established }}</td>
                        <td>{{ s8.level }}</td>
                        <td>{{ s8.admission_period }}</td>
                        <td>{{ s8.last_year_result }}</td>
                    </tr>
            {% endfor %}
        </table>
    </div>

    <div ID="Uttara" class="content";style="padding-left:16px">
      <h2>Primary Schools in Uttara</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s9 in in_uttara %}

                    <tr>
                        <td>{{ s9.id }}</td>
                        <td>{{ s9.name }}</td>
                        <td>{{ s9.location }}</td>
                        <td>{{ s9.syllabus_and_medium }}</td>
                        <td>{{ s9.established }}</td>
                        <td>{{ s9.level }}</td>
                        <td>{{ s9.admission_period }}</td>
                        <td>{{ s9.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Bashaboo" class="content";style="padding-left:16px">
      <h2>Primary Schools in Bashaboo</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s10 in in_bashaboo %}

                    <tr>
                        <td>{{ s10.id }}</td>
                        <td>{{ s10.name }}</td>
                        <td>{{ s10.location }}</td>
                        <td>{{ s10.syllabus_and_medium }}</td>
                        <td>{{ s10.established }}</td>
                        <td>{{ s10.level }}</td>
                        <td>{{ s10.admission_period }}</td>
                        <td>{{ s10.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="about" class="content";style="padding-left:16px">
      <h2>About</h2>
        <hr style="color: white">
        <br>
        <p>Now-a-days, the parents find it really difficult to choose the perfect school for their children. As there are quite a number of primary schools in Dhaka, our projects main objective is to help them to find the necessary informations about all them. So that, they can easily find some necessary informations and choose the perfect school for their children to admit in.
        </p>
    </div>

    <div ID="contact" class="content";style="padding-left:16px">
      <h2>Contact</h2>
        <hr style="color: white">
        <br>
        <p>You can contact with us also. Here we provide the best primary schools information in Dhaka. We open at 8.00am to 9.00pm.</p>
        <br>
        <p><b>Our contact details</b></p>
        <hr style="...">
        <p><b>Email:</b> Schoolinfosystem@yahoo.com</p>
        <p><b>Mobile:</b> 01670-XXXXXX , 01922-XXXXXX</p>
        <p><b>Address:</b> 74/A Green Rd, Dhaka-1205</p>
        <hr style="...">
    </div>

    <div ID="admin" class="content";style="padding-left:16px">
        <h2>Admin Panel</h2>
        <hr style="color: white">
        <div class="row">
              <div class="column">
                <h3>Personal Information</h3>
                  <hr>
                  <p><b>Username:</b></p>
                  <p>User</p>
                  <p><b>Email:</b></p>
                  <p>schoolinfosystem@yahoo.com</p><br><br>

                  <p>Change username and password<br> <br> <a href="http://127.0.0.1:8000/admin/schools/admin/"><input type="submit" value="Change" class="tablinks"></a> </p>
              </div>
              <div class="column">
                  <p>Add Info<br><br>  <a href="http://127.0.0.1:8000/admin/schools/schools/add/"><input type="submit" value="Click here" class="tablinks"></a> </p>
                  <p>Delete Info<br><br>  <a href="http://127.0.0.1:8000/admin/schools/schools/"><input type="submit" value="Click here" class="tablinks"></a> </p>
                  <p>Update Info<br><br>  <a href="http://127.0.0.1:8000/admin/schools/schools/"><input type="submit" value="Click here" class="tablinks"></a> </p>
              </div>
        </div>
        <br>
    </div>

    <div ID="cUser" class="content";style="padding-left:16px">
        <div class="container">
            <h2>Change Username</h2>
            <hr style="color: white">
            <p>Current username:</p>
            <input type="text" placeholder="Enter current username" name="" required>
            <p>New username:</p>
            <input type="text" placeholder="Enter new username" name="" required>
            <br>
            <div class="clearfix">
                <button type="button" onclick="openpage(event, 'admin')" class="cancelbtn">Cancel</button>
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>

    </div>

    <div ID="cPass" class="content";style="padding-left:16px">
        <div class="container">
            <h2>Change Password</h2>
            <hr style="color: white">
            <p>Current password:</p>
            <input type="password" placeholder="Enter current password" name="" required>
            <p>New password:</p>
            <input type="password" placeholder="Enter new password" name="" required>
            <p>Retype new password:</p>
            <input type="password" placeholder="Enter new password" name="" required>
            <br>
            <div class="clearfix">
                <button type="button" onclick="openpage(event, 'admin')" class="cancelbtn">Cancel</button>
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>

    </div>


{% endblock %}

