{% extends 'schools/base.html' %}

{% block body %}


        <div ID="homep" class="content";style="padding-left:16px">
          <h2>Schools in Dhaka</h2>
            <hr style="color: white">
            <br>
            <table id="list">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Syllabus & Medium</th>
                    <th>Established</th>
                    <th>Level</th>
                    <th>Admission Period</th>
                    <th>Last Year Result(number of G.P.A 5s)</th>
                </tr>

                {% for s in all_schools %}

                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.location }}</td>
                        <td>{{ s.syllabus_and_medium }}</td>
                        <td>{{ s.established }}</td>
                        <td>{{ s.level }}</td>
                        <td>{{ s.admission_period }}</td>
                        <td>{{ s.last_year_result }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <div ID="Farmgate" class="content";style="padding-left:16px">
      <h2>Primary Schools in Farmgate</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Mohammadpur" class="content";style="padding-left:16px">
      <h2>Primary Schools in Mohammadpur</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Dhanmondi" class="content";style="padding-left:16px">
      <h2>Primary Schools in Dhanmondi</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Gulshan" class="content";style="padding-left:16px">
      <h2>Primary Schools in Gulshan</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Bonani" class="content";style="padding-left:16px">
      <h2>Primary Schools in Bonani</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Motijheel" class="content";style="padding-left:16px">
      <h2>Primary Schools in Motijheel</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Wari" class="content";style="padding-left:16px">
      <h2>Primary Schools in Wari</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Mirpur" class="content";style="padding-left:16px">
      <h2>Primary Schools in Mirpur</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Uttara" class="content";style="padding-left:16px">
      <h2>Primary Schools in Uttara</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="Bashaboo" class="content";style="padding-left:16px">
      <h2>Primary Schools in Bashaboo</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            <tr>
                <td>1.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>2.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>5.</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div ID="about" class="content";style="padding-left:16px">
      <h2>About</h2>
        <hr style="color: white">
        <br>
        <p>Now-a-days, the parents find it really difficult to choose the perfect school for their children. As there are quite a number of primary schools in Dhaka, our projects main objective is to help them to find the necessary informations about all them. So that, they can easily find some necessary informations and choose the perfect school for their children to admit in.
        </p>
    </div>

    <div ID="contact" class="content";style="padding-left:16px">
      <h2>Contact</h2>
        <hr style="color: white">
        <br>
        <p>You can contact with us also. Here we provide the best primary schools information in Dhaka. We open at 8.00am to 9.00pm.</p>
        <br>
        <p><b>Our contact details</b></p>
        <hr style="...">
        <p><b>Email:</b> Schoolinfosystem@yahoo.com</p>
        <p><b>Mobile:</b> 01670-XXXXXX , 01922-XXXXXX</p>
        <p><b>Address:</b> 74/A Green Rd, Dhaka-1205</p>
        <hr style="...">
    </div>

    <div ID="admin" class="content";style="padding-left:16px">
        <h2>Admin Panel</h2>
        <hr style="color: white">
        <div class="row">
              <div class="column">
                <h3>Personal Information</h3>
                  <hr>
                  <p><b>Username:</b></p>
                  <p>Admin 1</p>
                  <p><b>Email:</b></p>
                  <p>abc@yahoo.com</p><br><br>

                  <p>Change username and password<br> <br> <a href="http://127.0.0.1:8000/admin/schools/admin/"><input type="submit" value="Change" class="tablinks"></a> </p>
              </div>
              <div class="column">
                  <p>Add Info<br><br><input type="submit" value="Click here" class="tablinks" onclick= "window.location = 'addSchools'"></p>
                  <p>Delete Info<br><br><input type="submit" value="Click here" class="tablinks" onclick="openpage(event, '')"></p>
                  <p>Update Info<br><br><input type="submit" value="Click here" class="tablinks" onclick="openpage(event, '')"></p>
              </div>
        </div>
        <br>
    </div>

    <div ID="cUser" class="content";style="padding-left:16px">
        <div class="container">
            <h2>Change Username</h2>
            <hr style="color: white">
            <p>Current username:</p>
            <input type="text" placeholder="Enter current username" name="" required>
            <p>New username:</p>
            <input type="text" placeholder="Enter new username" name="" required>
            <br>
            <div class="clearfix">
                <button type="button" onclick="openpage(event, 'admin')" class="cancelbtn">Cancel</button>
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>

    </div>

    <div ID="cPass" class="content";style="padding-left:16px">
        <div class="container">
            <h2>Change Password</h2>
            <hr style="color: white">
            <p>Current password:</p>
            <input type="password" placeholder="Enter current password" name="" required>
            <p>New password:</p>
            <input type="password" placeholder="Enter new password" name="" required>
            <p>Retype new password:</p>
            <input type="password" placeholder="Enter new password" name="" required>
            <br>
            <div class="clearfix">
                <button type="button" onclick="openpage(event, 'admin')" class="cancelbtn">Cancel</button>
                <button type="submit" class="savebtn">Save</button>
            </div>
        </div>

    </div>


{% endblock %}

