{% load static %}
<html>
<head>
    <title>school list in dhaka</title>

    <link rel="stylesheet" type="text/css" href="{% static 'schools/CSS/style.css' %}">
</head>
<body>

    <div class="topnav">
      <button class="tablinks" onclick="openpage(event, 'homep')">Home</button>
      <button class="tablinks" onclick="openpage(event, 'about')">About</button>
      <button class="tablinks" onclick="openpage(event, 'contact')">Contact</button>
      <div class="search-container">
        <form action="">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    <ul class="sidenav">
      <li><p class="active">Places</p></li>
      <li><button class="tablinks" onclick="openpage(event, 'Farmgate')">Farmgate</button></li>
      <li><button class="tablinks" onclick="openpage(event, 'Mohammadpur')">Mohammadpur</button></li>
      <li><button class="tablinks" onclick="openpage(event, 'Dhanmondi')">Dhanmondi</button></li>
      <li><button class="tablinks" onclick="openpage(event, 'Gulshan')">Gulshan</button></li>
        <li><button class="tablinks" onclick="openpage(event, 'Bonani')">Bonani</button></li>
        <li><button class="tablinks" onclick="openpage(event, 'Motijheel')">Motijheel</button></li>
        <li><button class="tablinks" onclick="openpage(event, 'Wari')">Wari</button></li>
        <li><button class="tablinks" onclick="openpage(event, 'Mirpur')">Mirpur</button></li>
        <li><button class="tablinks" onclick="openpage(event, 'Uttara')">Uttara</button></li>
        <li><button class="tablinks" onclick="openpage(event, 'Bashaboo')">Bashaboo</button></li>
    </ul>

    <div ID="homep" class="content";style="padding-left:16px">
          <h2>Schools in Dhaka</h2>
            <hr style="color: white">
            <br>
            <table id="list">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Syllabus & Medium</th>
                    <th>Established</th>
                    <th>Level</th>
                    <th>Admission Period</th>
                    <th>Last Year Result(number of G.P.A 5s)</th>
                </tr>

                {% for s in all_schools %}

                    <tr>
                        <td>{{ s.id }}</td>
                        <td>{{ s.name }}</td>
                        <td>{{ s.location }}</td>
                        <td>{{ s.syllabus_and_medium }}</td>
                        <td>{{ s.established }}</td>
                        <td>{{ s.level }}</td>
                        <td>{{ s.admission_period }}</td>
                        <td>{{ s.last_year_result }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    <div ID="Farmgate" class="content";style="padding-left:16px">
      <h2>Schools in Farmgate</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s1 in in_farmgate %}

                    <tr>
                        <td>{{ s1.id }}</td>
                        <td>{{ s1.name }}</td>
                        <td>{{ s1.location }}</td>
                        <td>{{ s1.syllabus_and_medium }}</td>
                        <td>{{ s1.established }}</td>
                        <td>{{ s1.level }}</td>
                        <td>{{ s1.admission_period }}</td>
                        <td>{{ s1.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Mohammadpur" class="content";style="padding-left:16px">
      <h2>Schools in Mohammadpur</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s2 in in_mdpur %}

                    <tr>
                        <td>{{ s2.id }}</td>
                        <td>{{ s2.name }}</td>
                        <td>{{ s2.location }}</td>
                        <td>{{ s2.syllabus_and_medium }}</td>
                        <td>{{ s2.established }}</td>
                        <td>{{ s2.level }}</td>
                        <td>{{ s2.admission_period }}</td>
                        <td>{{ s2.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Dhanmondi" class="content";style="padding-left:16px">
      <h2>Schools in Dhanmondi</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s3 in in_dhanmondi %}

                    <tr>
                        <td>{{ s3.id }}</td>
                        <td>{{ s3.name }}</td>
                        <td>{{ s3.location }}</td>
                        <td>{{ s3.syllabus_and_medium }}</td>
                        <td>{{ s3.established }}</td>
                        <td>{{ s3.level }}</td>
                        <td>{{ s3.admission_period }}</td>
                        <td>{{ s3.last_year_result }}</td>
                    </tr>
            {% endfor %}


        </table>
    </div>

    <div ID="Gulshan" class="content";style="padding-left:16px">
      <h2>Schools in Gulshan</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s4 in in_gulshan %}

                    <tr>
                        <td>{{ s4.id }}</td>
                        <td>{{ s4.name }}</td>
                        <td>{{ s4.location }}</td>
                        <td>{{ s4.syllabus_and_medium }}</td>
                        <td>{{ s4.established }}</td>
                        <td>{{ s4.level }}</td>
                        <td>{{ s4.admission_period }}</td>
                        <td>{{ s4.last_year_result }}</td>
                    </tr>
            {% endfor %}


        </table>
    </div>

    <div ID="Bonani" class="content";style="padding-left:16px">
      <h2>Schools in Bonani</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>

            {% for s5 in in_bonani %}

                    <tr>
                        <td>{{ s5.id }}</td>
                        <td>{{ s5.name }}</td>
                        <td>{{ s5.location }}</td>
                        <td>{{ s5.syllabus_and_medium }}</td>
                        <td>{{ s5.established }}</td>
                        <td>{{ s5.level }}</td>
                        <td>{{ s5.admission_period }}</td>
                        <td>{{ s5.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Motijheel" class="content";style="padding-left:16px">
      <h2>Schools in Motijheel</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s6 in in_motjhl %}

                    <tr>
                        <td>{{ s6.id }}</td>
                        <td>{{ s6.name }}</td>
                        <td>{{ s6.location }}</td>
                        <td>{{ s6.syllabus_and_medium }}</td>
                        <td>{{ s6.established }}</td>
                        <td>{{ s6.level }}</td>
                        <td>{{ s6.admission_period }}</td>
                        <td>{{ s6.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Wari" class="content";style="padding-left:16px">
      <h2>Schools in Wari</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s7 in in_wari %}

                    <tr>
                        <td>{{ s7.id }}</td>
                        <td>{{ s7.name }}</td>
                        <td>{{ s7.location }}</td>
                        <td>{{ s7.syllabus_and_medium }}</td>
                        <td>{{ s7.established }}</td>
                        <td>{{ s7.level }}</td>
                        <td>{{ s7.admission_period }}</td>
                        <td>{{ s7.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Mirpur" class="content";style="padding-left:16px">
      <h2>Schools in Mirpur</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s8 in in_mirpur%}

                    <tr>
                        <td>{{ s8.id }}</td>
                        <td>{{ s8.name }}</td>
                        <td>{{ s8.location }}</td>
                        <td>{{ s8.syllabus_and_medium }}</td>
                        <td>{{ s8.established }}</td>
                        <td>{{ s8.level }}</td>
                        <td>{{ s8.admission_period }}</td>
                        <td>{{ s8.last_year_result }}</td>
                    </tr>
            {% endfor %}
        </table>
    </div>

    <div ID="Uttara" class="content";style="padding-left:16px">
      <h2>Schools in Uttara</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s9 in in_uttara %}

                    <tr>
                        <td>{{ s9.id }}</td>
                        <td>{{ s9.name }}</td>
                        <td>{{ s9.location }}</td>
                        <td>{{ s9.syllabus_and_medium }}</td>
                        <td>{{ s9.established }}</td>
                        <td>{{ s9.level }}</td>
                        <td>{{ s9.admission_period }}</td>
                        <td>{{ s9.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="Bashaboo" class="content";style="padding-left:16px">
      <h2>Schools in Bashaboo</h2>
        <hr style="color: white">
        <br>
        <table id="list">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Syllabus & Medium</th>
                <th>Established</th>
                <th>Level</th>
                <th>Admission Period</th>
                <th>Last Year Result(number of G.P.A 5s)</th>
            </tr>
            {% for s10 in in_bashaboo %}

                    <tr>
                        <td>{{ s10.id }}</td>
                        <td>{{ s10.name }}</td>
                        <td>{{ s10.location }}</td>
                        <td>{{ s10.syllabus_and_medium }}</td>
                        <td>{{ s10.established }}</td>
                        <td>{{ s10.level }}</td>
                        <td>{{ s10.admission_period }}</td>
                        <td>{{ s10.last_year_result }}</td>
                    </tr>
            {% endfor %}

        </table>
    </div>

    <div ID="about" class="content";style="padding-left:16px">
      <h2>About</h2>
        <hr style="color: white">
        <br>
        <p>Now-a-days, the parents find it really difficult to choose the perfect school for their children. As there are quite a number of schools in Dhaka, our projects main objective is to help them to find the necessary informations about all them. So that, they can easily find some necessary informations and choose the perfect school for their children to admit in.
        </p>
    </div>

    <div ID="contact" class="content";style="padding-left:16px">
      <h2>Contact</h2>
        <hr style="color: white">
        <br>
        <p>You can contact with us also. Here we provide the best schools information in Dhaka. We open at 8.00am to 9.00pm.</p>
        <br>
        <p><b>Our contact details</b></p>
        <hr style="...">
        <p><b>Email:</b> Schoolinfosystem@yahoo.com</p>
        <p><b>Mobile:</b> 01670-XXXXXX , 01922-XXXXXX</p>
        <p><b>Address:</b> 74/A Green Rd, Dhaka-1205</p>
        <hr style="...">
    </div>

    <div ID="admin" class="content";style="padding-left:16px">
        <h2>Admin Panel</h2>
        <hr style="color: white">
        <div class="row">
              <div class="column">
                <h3>Personal Information</h3>
                  <hr>
                  <p><b>Username:</b></p>
                  <p>Admin 1</p>
                  <p><b>Email:</b></p>
                  <p>abc@yahoo.com</p><br><br>

                  <p>Change username<br> <br>  <input type="submit" value="Change"></p>
                  <p>Change password<br> <br>  <input type="submit" value="Change"></p>
              </div>
              <div class="column">
                  <p>Add Info<br><br><input type="submit" value="Click here"></p>
                  <p>Delete Info<br><br><input type="submit" value="Click here"></p>
                  <p>Update Info<br><br><input type="submit" value="Click here"></p>
              </div>
        </div>
        <br>
    </div>

    <script>
    function openpage(evt, placeName) {
      var i, content, tablinks;
      content = document.getElementsByClassName("content");
      for (i = 0; i < content.length; i++) {
        content[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(placeName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    </script>

</body>
</html>
